@import "../../styles/variables.scss";

.movies-card-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 0 80px 0;
  @media screen and (max-width: $max-width-mobile) {
    margin: 0 0 160px 0;
  }
}

.movies-card-list__wrap {
  padding: 70px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 24px;
  @media screen and (max-width: $max-width-tablet) {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $max-width-mobile) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.movies-card-list__more-button {
  width: 320px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  @media screen and (max-width: $max-width-tablet) {
   margin: 50px 0 0 0;
    
  }
  @media screen and (max-width: $max-width-mobile) {
    width: 100%;
     
   }
}