.movies-card {
  display: grid;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 9px;
  grid-column-start: 1;
}

.movies-card__duration {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  grid-column-start: 1;
}

.movies-card__image {
  width: 100%;
}

.movies-card__info-wrap {
  display: grid;
  grid-template-columns: auto 30px;
  padding: 14px;
}

.movies-card__button {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  grid-column: 2/2;
  grid-row: 1/span 2;
  align-self: center;
}

.movies-card__save-button {
  background-image: url(../../images/save-movie.svg);
}

.movies-card__delete-button {
  background-image: url(../../images/delete-movie.svg);
}