@import "../../styles/variables.scss";

.not-found {
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  grid-row: 2/3;
  grid-column: 2/3;
  color: #000;
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  @media screen and (max-width: $max-width-mobile) {
    font-size: 80px;
    line-height: 97px;
  }
}

.not-found__text {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  align-self: end;
  @media screen and (max-width: $max-width-mobile) {
    font-size: 12px;
    line-height: 15px;
    margin-top: 120px;
    align-self: center;
  }
}

.not-found__button {
  grid-row: 3/4;
  grid-column: 2/3;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FF6838;

  @media screen and (max-width: $max-width-mobile) {
    font-size: 12px;
    line-height: 15px;
    align-self: end;
    margin-bottom: 15px;
  }
}