$color-background: #fff;
$color-text: #000;
$color-secondary: #2BE080;
$max-width-tablet: 800px;
$max-width-mobile: 480px;

$margin-main: 0 70px;
$margin-main-tablet: 0 30px;
$margin-main-mobile: 0 14px;