@import "../../styles/variables.scss";

.main {
  margin: $margin-main;
  @media screen and (max-width: $max-width-tablet) {
    
    margin: $margin-main-tablet;
  }
  @media screen and (max-width: $max-width-mobile) {
    margin: $margin-main-mobile;
  }
}