@import "../../styles/variables.scss";

.saved-movies {
  margin: $margin-main;
  @media screen and (max-width: $max-width-tablet) {
    margin: $margin-main-tablet;
  }
  @media screen and (max-width: $max-width-mobile) {
    margin: 10px;
    
  }
}