.techs {

}

.techs__main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__big-text {
  text-align: center;
  margin: 90px 0 0 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.techs__text {
  margin: 26px 0 0 0;
  text-align: center;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.techs__list {
  margin: 100px 0;
  display: flex;
  gap: 10px;
}

.techs__item {
  display: flex;
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

