@import "../../styles/variables.scss";

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.nav-tab__button {
  width: 96px;
  font-size: 12px;
  background-color: #E8E8E8;
 
  @media screen and (max-width: $max-width-mobile) {
    width: 82px;
    height: 26px;
    font-size: 10px;
    line-height: 16px;
    border-radius: 6px;
  }
}
